--
-- PostgreSQL database dump
--

\restrict MoKVn6muPma2nBvcjtzKluUaDK7R4FNdyA6TNhlBsF6P7iIGu9pPebE8Tv3b4kl

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: community_user_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.community_user_type AS ENUM (
    'Celiac',
    'Nutritionist',
    'Food Blogger',
    'Chef'
);


ALTER TYPE public.community_user_type OWNER TO postgres;

--
-- Name: favorite_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.favorite_type AS ENUM (
    'recipe',
    'product',
    'place'
);


ALTER TYPE public.favorite_type OWNER TO postgres;

--
-- Name: place_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.place_type AS ENUM (
    'restaurant',
    'bakery',
    'store',
    'cafe'
);


ALTER TYPE public.place_type OWNER TO postgres;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role AS ENUM (
    'user',
    'moderator',
    'admin'
);


ALTER TYPE public.user_role OWNER TO postgres;

--
-- Name: decrement_recipe_likes(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.decrement_recipe_likes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF OLD.favorite_type = 'recipe' AND OLD.recipe_id IS NOT NULL THEN
        UPDATE recipes
        SET likes_count = GREATEST(likes_count - 1, 0)
        WHERE id = OLD.recipe_id;
    END IF;
    RETURN OLD;
END;
$$;


ALTER FUNCTION public.decrement_recipe_likes() OWNER TO postgres;

--
-- Name: get_user_rank(integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_user_rank(p_user_id integer) RETURNS text
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_recipes_count INTEGER;
    v_total_likes INTEGER;
    v_rank TEXT;
BEGIN
    SELECT 
        COUNT(DISTINCT r.id),
        COALESCE(SUM(r.likes_count), 0)
    INTO v_recipes_count, v_total_likes
    FROM recipes r
    WHERE r.author_id = p_user_id AND r.is_published = true;
    
    IF v_recipes_count = 0 THEN
        v_rank := 'Newcomer';
    ELSIF v_recipes_count < 5 THEN
        v_rank := 'Home Cook';
    ELSIF v_recipes_count < 10 AND v_total_likes < 50 THEN
        v_rank := 'Regular Chef';
    ELSIF v_recipes_count >= 10 AND v_total_likes >= 50 THEN
        v_rank := 'Master Chef';
    ELSE
        v_rank := 'Active Member';
    END IF;
    
    RETURN v_rank;
END;
$$;


ALTER FUNCTION public.get_user_rank(p_user_id integer) OWNER TO postgres;

--
-- Name: increment_comments_count(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.increment_comments_count() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.recipe_id IS NOT NULL THEN
        UPDATE recipes
        SET comments_count = comments_count + 1
        WHERE id = NEW.recipe_id;
    ELSIF NEW.post_id IS NOT NULL THEN
        UPDATE posts
        SET comments_count = comments_count + 1
        WHERE id = NEW.post_id;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.increment_comments_count() OWNER TO postgres;

--
-- Name: increment_recipe_likes(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.increment_recipe_likes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.favorite_type = 'recipe' AND NEW.recipe_id IS NOT NULL THEN
        UPDATE recipes
        SET likes_count = likes_count + 1
        WHERE id = NEW.recipe_id;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.increment_recipe_likes() OWNER TO postgres;

--
-- Name: trigger_update_place_rating(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.trigger_update_place_rating() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    PERFORM update_place_rating(NEW.place_id);
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.trigger_update_place_rating() OWNER TO postgres;

--
-- Name: update_place_rating(integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_place_rating(p_place_id integer) RETURNS void
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_avg_rating DECIMAL(3,2);
    v_count INTEGER;
BEGIN
    SELECT 
        ROUND(AVG(rating)::NUMERIC, 2),
        COUNT(*)
    INTO v_avg_rating, v_count
    FROM ratings
    WHERE place_id = p_place_id;
    
    UPDATE places
    SET 
        average_rating = COALESCE(v_avg_rating, 0),
        ratings_count = v_count
    WHERE id = p_place_id;
END;
$$;


ALTER FUNCTION public.update_place_rating(p_place_id integer) OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    icon character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categories_id_seq OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comments (
    id integer NOT NULL,
    content text NOT NULL,
    author_id integer NOT NULL,
    recipe_id integer,
    post_id integer,
    parent_comment_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_deleted boolean DEFAULT false,
    CONSTRAINT comment_target CHECK ((((recipe_id IS NOT NULL) AND (post_id IS NULL)) OR ((recipe_id IS NULL) AND (post_id IS NOT NULL))))
);


ALTER TABLE public.comments OWNER TO postgres;

--
-- Name: comments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.comments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.comments_id_seq OWNER TO postgres;

--
-- Name: comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.comments_id_seq OWNED BY public.comments.id;


--
-- Name: favorites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.favorites (
    id integer NOT NULL,
    user_id integer NOT NULL,
    favorite_type public.favorite_type NOT NULL,
    recipe_id integer,
    product_id integer,
    place_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT favorite_item_check CHECK ((((favorite_type = 'recipe'::public.favorite_type) AND (recipe_id IS NOT NULL) AND (product_id IS NULL) AND (place_id IS NULL)) OR ((favorite_type = 'product'::public.favorite_type) AND (product_id IS NOT NULL) AND (recipe_id IS NULL) AND (place_id IS NULL)) OR ((favorite_type = 'place'::public.favorite_type) AND (place_id IS NOT NULL) AND (recipe_id IS NULL) AND (product_id IS NULL))))
);


ALTER TABLE public.favorites OWNER TO postgres;

--
-- Name: favorites_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.favorites_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.favorites_id_seq OWNER TO postgres;

--
-- Name: favorites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.favorites_id_seq OWNED BY public.favorites.id;


--
-- Name: places; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.places (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    type public.place_type NOT NULL,
    address text NOT NULL,
    city character varying(100),
    country character varying(100),
    latitude numeric(10,8),
    longitude numeric(11,8),
    phone character varying(20),
    website character varying(500),
    is_certified boolean DEFAULT false,
    description text,
    image_url character varying(500),
    average_rating numeric(3,2) DEFAULT 0,
    ratings_count integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    added_by integer,
    CONSTRAINT valid_coordinates CHECK ((((latitude IS NULL) AND (longitude IS NULL)) OR (((latitude >= ('-90'::integer)::numeric) AND (latitude <= (90)::numeric)) AND ((longitude >= ('-180'::integer)::numeric) AND (longitude <= (180)::numeric))))),
    CONSTRAINT valid_rating CHECK (((average_rating >= (0)::numeric) AND (average_rating <= (5)::numeric)))
);


ALTER TABLE public.places OWNER TO postgres;

--
-- Name: places_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.places_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.places_id_seq OWNER TO postgres;

--
-- Name: places_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.places_id_seq OWNED BY public.places.id;


--
-- Name: posts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.posts (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    content text NOT NULL,
    post_type character varying(20),
    author_id integer NOT NULL,
    likes_count integer DEFAULT 0,
    comments_count integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_published boolean DEFAULT true,
    CONSTRAINT posts_post_type_check CHECK (((post_type)::text = ANY ((ARRAY['question'::character varying, 'tip'::character varying, 'story'::character varying, 'general'::character varying])::text[])))
);


ALTER TABLE public.posts OWNER TO postgres;

--
-- Name: posts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.posts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.posts_id_seq OWNER TO postgres;

--
-- Name: posts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.posts_id_seq OWNED BY public.posts.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    brand character varying(255) NOT NULL,
    barcode character varying(50),
    category_id integer,
    is_gluten_free boolean DEFAULT false,
    is_certified boolean DEFAULT false,
    ingredients text,
    allergens text,
    image_url character varying(500),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by integer
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.products_id_seq OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: ratings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ratings (
    id integer NOT NULL,
    user_id integer NOT NULL,
    place_id integer NOT NULL,
    rating integer NOT NULL,
    review text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT ratings_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


ALTER TABLE public.ratings OWNER TO postgres;

--
-- Name: ratings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ratings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ratings_id_seq OWNER TO postgres;

--
-- Name: ratings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ratings_id_seq OWNED BY public.ratings.id;


--
-- Name: recipe_favorites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recipe_favorites (
    id integer NOT NULL,
    user_id integer NOT NULL,
    recipe_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.recipe_favorites OWNER TO postgres;

--
-- Name: recipe_favorites_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.recipe_favorites_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.recipe_favorites_id_seq OWNER TO postgres;

--
-- Name: recipe_favorites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.recipe_favorites_id_seq OWNED BY public.recipe_favorites.id;


--
-- Name: recipes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recipes (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    ingredients text NOT NULL,
    instructions text NOT NULL,
    prep_time integer,
    cook_time integer,
    servings integer DEFAULT 1,
    difficulty character varying(20),
    image_url character varying(500),
    author_id integer NOT NULL,
    likes_count integer DEFAULT 0,
    comments_count integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_published boolean DEFAULT true,
    recipe_type character varying(20) DEFAULT 'recipe'::character varying,
    CONSTRAINT recipes_difficulty_check CHECK (((difficulty)::text = ANY ((ARRAY['easy'::character varying, 'medium'::character varying, 'hard'::character varying])::text[]))),
    CONSTRAINT valid_servings CHECK ((servings > 0)),
    CONSTRAINT valid_times CHECK (((prep_time >= 0) AND (cook_time >= 0)))
);


ALTER TABLE public.recipes OWNER TO postgres;

--
-- Name: recipes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.recipes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.recipes_id_seq OWNER TO postgres;

--
-- Name: recipes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.recipes_id_seq OWNED BY public.recipes.id;


--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_profiles (
    user_id integer NOT NULL,
    bio text,
    phone character varying(20),
    location character varying(255),
    website character varying(500),
    dietary_restrictions text,
    celiac_diagnosed_date date,
    preferences jsonb
);


ALTER TABLE public.user_profiles OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    name character varying(100) NOT NULL,
    role public.user_role DEFAULT 'user'::public.user_role,
    user_type public.community_user_type,
    avatar character varying(500),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_login timestamp without time zone,
    is_active boolean DEFAULT true,
    CONSTRAINT email_valid CHECK (((email)::text ~* '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::text))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: v_popular_recipes; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_popular_recipes AS
 SELECT r.id,
    r.title,
    r.description,
    r.difficulty,
    r.prep_time,
    r.cook_time,
    r.servings,
    r.image_url,
    r.likes_count,
    r.comments_count,
    r.created_at,
    u.id AS author_id,
    u.name AS author_name,
    u.user_type AS author_type,
    u.avatar AS author_avatar,
    round((((r.prep_time + r.cook_time))::numeric / (60)::numeric), 1) AS total_hours
   FROM (public.recipes r
     JOIN public.users u ON ((r.author_id = u.id)))
  WHERE ((r.is_published = true) AND (u.is_active = true))
  ORDER BY r.likes_count DESC, r.created_at DESC;


ALTER TABLE public.v_popular_recipes OWNER TO postgres;

--
-- Name: v_user_activity; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_user_activity AS
 SELECT u.id,
    u.name,
    u.email,
    u.user_type,
    u.created_at AS joined_date,
    count(DISTINCT r.id) AS recipes_count,
    count(DISTINCT p.id) AS posts_count,
    count(DISTINCT c.id) AS comments_count,
    count(DISTINCT f.id) AS favorites_count,
    COALESCE(sum(r.likes_count), (0)::bigint) AS total_recipe_likes,
    u.last_login
   FROM ((((public.users u
     LEFT JOIN public.recipes r ON (((u.id = r.author_id) AND (r.is_published = true))))
     LEFT JOIN public.posts p ON (((u.id = p.author_id) AND (p.is_published = true))))
     LEFT JOIN public.comments c ON (((u.id = c.author_id) AND (c.is_deleted = false))))
     LEFT JOIN public.favorites f ON ((u.id = f.user_id)))
  WHERE (u.is_active = true)
  GROUP BY u.id, u.name, u.email, u.user_type, u.created_at, u.last_login
  ORDER BY COALESCE(sum(r.likes_count), (0)::bigint) DESC;


ALTER TABLE public.v_user_activity OWNER TO postgres;

--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: comments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments ALTER COLUMN id SET DEFAULT nextval('public.comments_id_seq'::regclass);


--
-- Name: favorites id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorites ALTER COLUMN id SET DEFAULT nextval('public.favorites_id_seq'::regclass);


--
-- Name: places id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.places ALTER COLUMN id SET DEFAULT nextval('public.places_id_seq'::regclass);


--
-- Name: posts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.posts ALTER COLUMN id SET DEFAULT nextval('public.posts_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: ratings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ratings ALTER COLUMN id SET DEFAULT nextval('public.ratings_id_seq'::regclass);


--
-- Name: recipe_favorites id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_favorites ALTER COLUMN id SET DEFAULT nextval('public.recipe_favorites_id_seq'::regclass);


--
-- Name: recipes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipes ALTER COLUMN id SET DEFAULT nextval('public.recipes_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, description, icon, created_at) FROM stdin;
1	Bakery	Bread, pastries, and baked goods	­ƒÑû	2025-12-29 19:42:52.736397
2	Pasta & Grains	Pasta, rice, and grain products	­ƒìØ	2025-12-29 19:42:52.736397
3	Snacks	Chips, crackers, and snack foods	­ƒì┐	2025-12-29 19:42:52.736397
4	Desserts	Cakes, cookies, and sweet treats	­ƒì░	2025-12-29 19:42:52.736397
5	Beverages	Drinks and beverages	­ƒÑñ	2025-12-29 19:42:52.736397
6	Dairy	Milk, cheese, and dairy products	­ƒºÇ	2025-12-29 19:42:52.736397
\.


--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comments (id, content, author_id, recipe_id, post_id, parent_comment_id, created_at, updated_at, is_deleted) FROM stdin;
6	Thank you for sharing your story!	4	\N	2	\N	2025-12-28 19:42:52.775962	2025-12-29 19:42:52.775962	f
7	I love Canyon Bakehouse bread	5	\N	3	\N	2025-12-29 17:42:52.775962	2025-12-29 19:42:52.775962	f
8	Great tips! Very helpful.	2	\N	4	\N	2025-12-26 19:42:52.775962	2025-12-29 19:42:52.775962	f
\.


--
-- Data for Name: favorites; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.favorites (id, user_id, favorite_type, recipe_id, product_id, place_id, created_at) FROM stdin;
7	2	product	\N	1	\N	2025-12-29 19:42:52.809256
8	3	product	\N	1	\N	2025-12-29 19:42:52.809256
9	3	product	\N	3	\N	2025-12-29 19:42:52.809256
10	4	product	\N	2	\N	2025-12-29 19:42:52.809256
11	2	place	\N	\N	1	2025-12-29 19:42:52.817692
12	2	place	\N	\N	2	2025-12-29 19:42:52.817692
13	3	place	\N	\N	2	2025-12-29 19:42:52.817692
14	4	place	\N	\N	1	2025-12-29 19:42:52.817692
\.


--
-- Data for Name: places; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: posts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ratings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ratings (id, user_id, place_id, rating, review, created_at, updated_at) FROM stdin;
1	2	1	5	Excellent food and service!	2025-12-29 19:42:52.787652	2025-12-29 19:42:52.787652
2	3	1	4	Great GF options	2025-12-29 19:42:52.787652	2025-12-29 19:42:52.787652
3	4	2	5	Best GF bakery in Milan	2025-12-29 19:42:52.787652	2025-12-29 19:42:52.787652
4	2	2	5	Amazing bread!	2025-12-29 19:42:52.787652	2025-12-29 19:42:52.787652
5	5	3	4	Good pizza, friendly staff	2025-12-29 19:42:52.787652	2025-12-29 19:42:52.787652
\.


--
-- Data for Name: recipe_favorites; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.recipe_favorites (id, user_id, recipe_id, created_at) FROM stdin;
1	8	7	2025-12-29 20:20:04.937638
\.


--
-- Data for Name: recipes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_profiles (user_id, bio, phone, location, website, dietary_restrictions, celiac_diagnosed_date, preferences) FROM stdin;
2	Living gluten-free since 2018. Sharing my journey and tips!	\N	New York, USA	\N	Celiac disease, lactose intolerant	2018-03-15	\N
3	Celiac warrior and food enthusiast	\N	London, UK	\N	Celiac disease	2015-06-20	\N
4	Nutritionist specializing in gluten-free diets	\N	Milan, Italy	\N	\N	\N	\N
6	Professional chef creating amazing GF recipes	\N	Paris, France	\N	\N	\N	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 6, true);


--
-- Name: comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comments_id_seq', 8, true);


--
-- Name: favorites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.favorites_id_seq', 14, true);


--
-- Name: places_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.places_id_seq', 4, true);


--
-- Name: posts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.posts_id_seq', 4, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 5, true);


--
-- Name: ratings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ratings_id_seq', 5, true);


--
-- Name: recipe_favorites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.recipe_favorites_id_seq', 1, true);


--
-- Name: recipes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.recipes_id_seq', 18, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 8, true);


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: favorites favorites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_pkey PRIMARY KEY (id);


--
-- Name: places places_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.places
    ADD CONSTRAINT places_pkey PRIMARY KEY (id);


--
-- Name: posts posts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_pkey PRIMARY KEY (id);


--
-- Name: products products_barcode_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_barcode_key UNIQUE (barcode);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: ratings ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT ratings_pkey PRIMARY KEY (id);


--
-- Name: recipe_favorites recipe_favorites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_favorites
    ADD CONSTRAINT recipe_favorites_pkey PRIMARY KEY (id);


--
-- Name: recipe_favorites recipe_favorites_user_id_recipe_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_favorites
    ADD CONSTRAINT recipe_favorites_user_id_recipe_id_key UNIQUE (user_id, recipe_id);


--
-- Name: recipes recipes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipes
    ADD CONSTRAINT recipes_pkey PRIMARY KEY (id);


--
-- Name: favorites unique_favorite; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT unique_favorite UNIQUE (user_id, favorite_type, recipe_id, product_id, place_id);


--
-- Name: ratings unique_user_place_rating; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT unique_user_place_rating UNIQUE (user_id, place_id);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_categories_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_categories_name ON public.categories USING btree (name);


--
-- Name: idx_comments_author; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comments_author ON public.comments USING btree (author_id);


--
-- Name: idx_comments_parent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comments_parent ON public.comments USING btree (parent_comment_id);


--
-- Name: idx_comments_post; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comments_post ON public.comments USING btree (post_id);


--
-- Name: idx_comments_recipe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comments_recipe ON public.comments USING btree (recipe_id);


--
-- Name: idx_favorites_place; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_favorites_place ON public.favorites USING btree (place_id);


--
-- Name: idx_favorites_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_favorites_product ON public.favorites USING btree (product_id);


--
-- Name: idx_favorites_recipe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_favorites_recipe ON public.favorites USING btree (recipe_id);


--
-- Name: idx_favorites_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_favorites_user ON public.favorites USING btree (user_id);


--
-- Name: idx_places_certified; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_places_certified ON public.places USING btree (is_certified);


--
-- Name: idx_places_city; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_places_city ON public.places USING btree (city);


--
-- Name: idx_places_location; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_places_location ON public.places USING btree (latitude, longitude);


--
-- Name: idx_places_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_places_type ON public.places USING btree (type);


--
-- Name: idx_posts_author; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_posts_author ON public.posts USING btree (author_id);


--
-- Name: idx_posts_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_posts_created ON public.posts USING btree (created_at DESC);


--
-- Name: idx_posts_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_posts_type ON public.posts USING btree (post_type);


--
-- Name: idx_products_barcode; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_barcode ON public.products USING btree (barcode);


--
-- Name: idx_products_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_category ON public.products USING btree (category_id);


--
-- Name: idx_products_gluten_free; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_gluten_free ON public.products USING btree (is_gluten_free);


--
-- Name: idx_products_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_name ON public.products USING btree (name);


--
-- Name: idx_profiles_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_profiles_user_id ON public.user_profiles USING btree (user_id);


--
-- Name: idx_ratings_place; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ratings_place ON public.ratings USING btree (place_id);


--
-- Name: idx_ratings_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ratings_user ON public.ratings USING btree (user_id);


--
-- Name: idx_recipes_author; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_recipes_author ON public.recipes USING btree (author_id);


--
-- Name: idx_recipes_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_recipes_created ON public.recipes USING btree (created_at DESC);


--
-- Name: idx_recipes_published; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_recipes_published ON public.recipes USING btree (is_published);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_is_active ON public.users USING btree (is_active);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_users_user_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_user_type ON public.users USING btree (user_type);


--
-- Name: favorites trigger_decrement_recipe_likes; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_decrement_recipe_likes AFTER DELETE ON public.favorites FOR EACH ROW EXECUTE FUNCTION public.decrement_recipe_likes();


--
-- Name: comments trigger_increment_comments; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_increment_comments AFTER INSERT ON public.comments FOR EACH ROW EXECUTE FUNCTION public.increment_comments_count();


--
-- Name: favorites trigger_increment_recipe_likes; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_increment_recipe_likes AFTER INSERT ON public.favorites FOR EACH ROW EXECUTE FUNCTION public.increment_recipe_likes();


--
-- Name: ratings trigger_rating_insert; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_rating_insert AFTER INSERT ON public.ratings FOR EACH ROW EXECUTE FUNCTION public.trigger_update_place_rating();


--
-- Name: ratings trigger_rating_update; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_rating_update AFTER UPDATE ON public.ratings FOR EACH ROW EXECUTE FUNCTION public.trigger_update_place_rating();


--
-- Name: comments update_comments_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_comments_updated_at BEFORE UPDATE ON public.comments FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: places update_places_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_places_updated_at BEFORE UPDATE ON public.places FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: posts update_posts_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_posts_updated_at BEFORE UPDATE ON public.posts FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: products update_products_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_products_updated_at BEFORE UPDATE ON public.products FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: recipes update_recipes_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_recipes_updated_at BEFORE UPDATE ON public.recipes FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: comments fk_comment_author; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT fk_comment_author FOREIGN KEY (author_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: comments fk_comment_parent; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT fk_comment_parent FOREIGN KEY (parent_comment_id) REFERENCES public.comments(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: comments fk_comment_post; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT fk_comment_post FOREIGN KEY (post_id) REFERENCES public.posts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: comments fk_comment_recipe; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT fk_comment_recipe FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: favorites fk_favorite_place; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT fk_favorite_place FOREIGN KEY (place_id) REFERENCES public.places(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: favorites fk_favorite_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT fk_favorite_product FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: favorites fk_favorite_recipe; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT fk_favorite_recipe FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: favorites fk_favorite_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT fk_favorite_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: places fk_place_creator; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.places
    ADD CONSTRAINT fk_place_creator FOREIGN KEY (added_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: posts fk_post_author; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT fk_post_author FOREIGN KEY (author_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products fk_product_category; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT fk_product_category FOREIGN KEY (category_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: products fk_product_creator; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT fk_product_creator FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ratings fk_rating_place; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT fk_rating_place FOREIGN KEY (place_id) REFERENCES public.places(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ratings fk_rating_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT fk_rating_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: recipes fk_recipe_author; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipes
    ADD CONSTRAINT fk_recipe_author FOREIGN KEY (author_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_profiles fk_user_profile; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT fk_user_profile FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: recipe_favorites recipe_favorites_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_favorites
    ADD CONSTRAINT recipe_favorites_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: recipe_favorites recipe_favorites_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_favorites
    ADD CONSTRAINT recipe_favorites_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict MoKVn6muPma2nBvcjtzKluUaDK7R4FNdyA6TNhlBsF6P7iIGu9pPebE8Tv3b4kl

